[submodule "vendor/ddc"]
	path = vendor/ddc
	url = git@github.com:CExA-project/ddc.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
[submodule "vendor/constexpr-to-string"]
	path = vendor/constexpr-to-string
	url = git@github.com:tcsullivan/constexpr-to-string.git
